<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Clinic Reservation System{% endblock %}</title>
</head>
<body>
        <div>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}!</p>
            <form action = "{% url 'logout' %}" method = "post">
            {%  csrf_token %}
                <button>Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
        </div>
        <a href={% url 'clinic_dashboard' %}></a>
    <div id="messages">
        {% if messages %}
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>